body {
  background-color: #2c2c2c;
  color: #f8f9fa; 
}

.container {
  background-color: #3a3a3a; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: #f8f9fa !important; 
  color: #333 !important; 
  border: none;
}

.btn-danger {
  background-color: #dc3545 !important;
  border: none;
}

.list-group-item {
  background-color: #4a4a4a;
  color: white;
  border-color: #5a5a5a;
}
